<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)">
    <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias"
                        [value]="categoria">
      <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>
</ion-content>
