<ion-header [translucent]="true" no-border>
  <ion-toolbar color=dark>
    <ion-title>
      Tab 111
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <app-noticias [noticias]="noticias"></app-noticias>
</ion-content>
